.tabs {
    top:50%;
    left:50%;
   
    overflow:hidden;
  }
  .tabs .tab-header {
    width:180px;
    height:100%;
    border-right:1px solid #ccc;
    padding:50px 0px;
    margin-top: 70px;

  }
  .tabs .tab-header > div {
    height:50px;
    line-height:50px;
    font-size:16px;
    font-weight:600;
    color:#888;
    cursor:pointer;
    padding-left:10px;
  }
  .tabs .tab-header > div:hover,
  .tabs .tab-header > div.active {
    border: #013147 solid 1px;
    background: linear-gradient(45deg,#035e88,#013147);
    color: #fff !important;    
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  .tabs .tab-header div i {
    display:inline-block;
    margin-left:10px;
    margin-right:5px;
  }
  .tabs .tab-content {
    height: 100%;
    /* overflow: hidden; */
    width: 85%;
    margin-left: 174px;
  }
  
  .tabs .tab-content > div {
    position:absolute;
    padding:40px 20px;
    top:-200%;
    transition:all 500ms ease-in-out;
  }
  .tabs .tab-content > div.active {
    top:100px;
  }
  .activex{
    background-color: #fff;
    color: #035e88 !important;
    border-radius: 100px;
}
.activex a{
    background-color: #fff;
    color: #035e88 !important;
    border-radius: 100px;
}
  .tabs .tab-indicator {
    position:absolute;
    width:4px;
    height:50px;
    left:198px;
    top:80px;
    transition:all 500ms ease-in-out;
  }

  .memberInfo{
    position: fixed;
    background-color: rgb(238, 238, 238);
    width: 100%;
    padding: 10px;
    font-size: x-large;
    font-weight: 800;
    margin-top: 50px;
}