/* Basic styling */
body {
  font-family: "Times New Roman", Times, serif !important;
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbarx {
  background:  #013147;
  color: #fff;
  padding: 10px 20px;
  height: 70px;
  position: fixed;
  top: 0px;
  z-index: 3;
  width: 100%;
}

.navbar-containerx {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand-logox {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

/* Nav menu styling */
.nav-menux {
  list-style: none;
  display: flex;
  gap: 2px;
  z-index: 10;
  margin: 0;
  padding: 0;
  background:   #013147;

}

.nav-menux li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}
.nav-menux li a:hover {
  background-color: aliceblue;
  color: #333;
  border-radius: 100px;
}

/* Dropdown menu styling */
.dropdownx {
  position: relative;
}
.margina {
  margin-left: 5px;
}
.dropdown-menux {
  display: none;
  position: absolute;
  background:   #013147 !important;
  list-style: none;
  row-gap: 10px;
  padding: 5px;
  margin-top: 9px;
  top: 100%;
  left: 0;
  min-width: 150px;
  z-index: 10;
}
.dropdown-menux li {
  padding: 10px 15px;
  white-space: nowrap;
}
.dropdown-menux li:hover {
  background-color: aliceblue;
  border-radius: 100px;
  color: #013147;
}
.dropdown-menux li:hover a {
  color: #013147;
}

.dropdownx:hover .dropdown-menux {
  display: block;
}
/* .active{
    background-color: #fff;
    color: #035e88 !important;
    border-radius: 100px;
} */

/* Menu icon styling for mobile view */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.UserImg {
  height: 50px;
  width: 50px;
  border-radius: 100000px;
}
.User {
  display: flex;
  align-items: center;
}
.UserText {
  margin-left: 10px;
  margin-right: 10px;
}
.UserMenu {
  display: none;
  border: #013147 solid 1px;
  background:   #013147;
  color: #fff;
  right: 0;
  top: 63px;
  z-index: 2 !important;
  position: absolute;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}
.UserMenu li {
  list-style: none;
  padding: 10px;
}
.UserMenu li:hover {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
}
@media (max-width: 1220px) {
  .nav-menux {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    margin-top: 60px;
    z-index: 3;
  }

  .nav-menux.active {
    display: flex;
    gap: 10px;
    z-index: 3;

  }

  .dropdown-menux {
    position: static;
    z-index: 3;
    transition: 0 0.5s ease-out;

  }
  .nav-menux li {
    padding: 5px;
    z-index: 3;

  }
  .dropdownx:hover .dropdown-menux {
    display: none;
  }

  .dropdownx.active .dropdown-menux {
    display: block;
    z-index: 3;

  }
  .navbar-containerx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}

.logo{
    position: absolute;
    margin-right: 100px;
    top: 10px;
}
  .menu-icon {
    display: block;
    margin-left: 85%;
    position: absolute;
    top: 10px;
    right: 10px;  }
  .User {
    display: none;
  }
}
