/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    background-color: #013147;
    color: #fff;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand-logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

/* Nav menu styling */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 2px;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
.nav-menu li a:hover {
    background-color: aliceblue;
    color: #333;
    border-radius: 100px;
}



/* Dropdown menu styling */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #013147;
    list-style: none;
    row-gap: 10px;
    padding: 5px;
    margin-top: 9px;
    top: 100%;
    left: 0;
    min-width: 150px;
}

.dropdown-menu li{
    padding: 10px 15px;
    white-space: nowrap;

}
.dropdown-menu li:hover{
   background-color: aliceblue;
   border-radius: 100px;
   color: #013147;

}
.dropdown-menu li:hover a{
    color: #013147;
 }


.dropdown:hover .dropdown-menu {
    display: block;
}

/* Menu icon styling for mobile view */
.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.UserImg{
    height: 50px;
    width: 50px;
    border-radius: 100000px;
}
.User{
    display: flex;
    align-items: center;
}
.UserText{
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu.active {
        display: flex;
    }

    .dropdown-menu {
        position: static;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown.active .dropdown-menu {
        display: block;
    }

    .menu-icon {
        display: block;
    }
    .User{
        display: none;
    }
}
